.Login{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:30%;
    background: linear-gradient(to bottom right,#a1c4fd,#c2e9fb,#fbc2eb);
    backdrop-filter:blur(10px);
    border-radius:10px;
    box-shadow:0 4px 20px rgba(0,0,0,0.2);
    padding: 10px;
    font-family:'Poppins';
    margin-top: 10%;
    font-size: 20px;
}
body{
    background-image: linear-gradient(to bottom,#a1c4fd,#c2e9fb,#fbc2eb);
    margin:0;
    padding:0;
    box-sizing:border-box;
}

input{
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border:1px solid black;
    padding: 5px;
    width: 60%;
}
.forgot{
    font-size: 15px;
    color:black;
    text-decoration:none;
    margin-left:65px;
}

.login_button{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:5px;
    border-radius :5px;
    border-color:black;
    padding:5px;
}