@font-face {
    font-family: 'MomoSignature';
    src: url(../Momo_Signature/MomoSignature-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
.login{
width:50%;
display:flex;
justify-content: center;
align-items:center;
margin-bottom: 50px;
font-size:x-large;


}
body{
    background-color: #E2E2E2;

}

input{
border-radius: 10px;
border-color: black;
border-style: solid;
border:1px solid black;
padding: 5px;
width: 70%;
height: 25px;
margin-top: 30px;
color:#E8E7E6;
}

.body-wrapper{
margin:0;
padding:0;
display:flex;
justify-content: space-between;
align-items: center;
height:100vh;
}

.login_image{
    width:50%;
    display:flex;
    justify-content:center;
    height: 60vh;
}

.btn{
    border:none;
    width:40%;  
    background-color:#E8E7E6;
    color:#E8E7E6;
    font-weight: 500px;
    text-align: center;
    font-family: "MomoSignature";
    margin-top:30px;
    margin-left:50px;
    
}
.forgot{
    color:black;
    font-size: 14px;
    text-decoration:none;
    margin-top:-10px;
}

.login_form{
    margin-left:50px;
}