@font-face {
    font-family: 'MomoSignature';
    src: url(../Momo_Signature/MomoSignature-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
.login{
font-family: MomoSignature;
width:70%;
display:flex;
justify-content: center;
align-items:center;
margin-bottom: 50px;
font-size:x-large;


}
body{
    background-color: #E2E2E2;

}

input{
font-family: MomoSignature;
border-radius: 10px;
border-color: black;
border-style: solid;
border:1px solid black;
padding: 5px;
width: 70%;
height: 25px;
margin-top: 30px;
color:black;

}

.body-wrapper{
margin:0;
padding:0;
display:flex;
justify-content: space-between;
align-items: center;
height:100vh;
}

.login_image{
    width:50%;
    display:flex;
    justify-content:center;
    height: 60vh;
    background-blend-mode: overlay;
}

.btn button{
    border:1px;
    width:auto;  
    background-color:#eed7c1;
    color:#764d24;
    font-weight: 500px;
    text-align: center;
    font-family: MomoSignature;
    margin-top:30px;
    margin-left:50px;
    font-size:large;
    border-radius: 2px;
    border-color:#764d24;
    
}
.forgot{
    color:black;
    font-size: 14px;
    text-decoration:none;
    margin-top:-10px;
}

.login_form{
    margin-left:50px;
}