.Login{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:30%;
    border:2px;
    background-color:rgb(96, 216, 226);
    padding: 10px;
    font-family:'Poppins';
    margin-top: 10%;
    font-size: 20px;
}
body{
    background-color: rgb(96, 216, 226);
}

input{
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border:1px solid black;
    padding: 5px;
}
.forgot{
    font-size: 15px;
    color:black;
    text-decoration:none;
    margin-left:65px;
}

.login_button{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:5px;
    border-radius :5px;
    border-color:black;
    padding:5px;





}