@font-face {
    font-family: 'MomoSignature';
    src: url(../Momo_Signature/MomoSignature-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Pacifio;
    src: url(../Pacifico/Pacifico-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
.login{
font-family: MomoSignature;
width:70%;
display:flex;
justify-content: center;
align-items:center;
margin-bottom: 50px;
font-size:x-large;


}
body{
    background-color: #E2E2E2;

}

input{
font-family: MomoSignature;
border-radius: 10px;
border-color: black;
border-style: solid;
border:1px solid black;
padding: 5px;
width: 70%;
height: 25px;
margin-top: 30px;
color:black;

}

.body-wrapper{
margin:0;
padding:0;
display:flex;
justify-content: space-between;
align-items: center;
height:100vh;
}

.login_image{
    width:50%;
    display:flex;
    justify-content:center;
    height: 60vh;
    background-blend-mode: overlay;
}

.btn button{
    border:1px;
    width:auto;  
    background-color:#eed7c1;
    color:#764d24;
    font-weight: 500px;
    text-align: center;
    font-family: MomoSignature;
    margin-top:30px;
    margin-left:50px;
    font-size:large;
    border-radius: 2px;
    border-color:#764d24;
    
}
.forgot{
    color:black;
    font-size: 14px;
    text-decoration:none;
    margin-top:-10px;
}

.login_form{
    margin-left:50px;
}

.container{
    display:flex;
    height:98vh;
    padding:0px;
    margin:0;
}
.sidebar-left{
    left:0;
    top:0;
    width:250px;
    display:flex;
    flex-direction:column;
    padding:20px;
    justify-content: center;
    background-color: #d8d3ba;
    color:#764d24;
    font-family: MomoSignature;
    font-size: large;
    border-radius: 12px;
    position: fixed;
    transition: position 0.3s ease;
    left:12px;
    top:12px;
    bottom:12px;
    box-shadow:4px 0px 15px rgba(0,0,0,0.15);
}
.main-content{
    flex:1;
    padding:20px;
    background-color: #E2E2E2;
    font-family: MomoSignature;
    border:none;
    margin-left: 300px;
    margin-right: 300px;

}

.sidebar-left ul{
    list-style: none;
    padding:0;
    margin-bottom: 170px;
}

.sidebar-left ul li:hover{
    transform:translateY(-1px);
}

.sidebar-left ul li{
    margin:30px 30px;
}

.sidebar-left ul li a{
    text-decoration: none;
    color:#764d24;
    font-size: 18px;
    display:block;
}

.greeting{
    margin:30px 0;
    font-family: MomoSignature;
    font-size: 24px;
    color: #764d24;
    font-weight: 800;
    text-decoration: none;
    border-bottom: none;
}

.greeting h2{
    font-size:28px;
    font-weight:600;
    color:#333;
    text-decoration: none;
    border-bottom: none;

}

.card{
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 100px;
    background-color: #d8d3ba;
    border-radius: 10px;
    margin: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition:0.3s ease;
    color: #764d24;
    font-family: MomoSignature;
    font-size: large;
    text-decoration: none;
    border-bottom: none;
}

.card_container{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    gap:20px;
    margin:top;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 18px rgba(0,0,0,0.15);
}

.card h3{
    font-size:20px;
    margin-top:12px;
    margin-left:-50px;
}

.card p{
    font-size:24px;
    font-weight:600;
    margin-top:-4px;
    margin-left:-30px;
}

.sidebar-right{
    width:250px;
    display:flex;
    flex-direction:column;
    padding:20px;
    justify-content: center;
    background-color: #d8d3ba;
    color:#764d24;
    font-family: MomoSignature;
    font-size: large;
    border-radius: 12px;
    position: fixed;
    transition: position 0.3s ease;
    right:12px;
    top:12px;
    bottom:12px;
    box-shadow: -4px 0 15px rgba(0,0,0,0.15);
    transition:0.3s ease;
}
.profile-card{
    text-align: center;
}
.right_profile_image{
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}
.profile_photo{
    width:90px;
    height:90px;
    border-radius: 50%;
    border: 3px solid #764d24;
    object-fit: cover;
    margin-bottom: 10px;
}
.camera_icon{
    width:12px;
    height:12px;
    position:absolute;
    bottom:0;
    right:0;
    background-color: #d8d3ba;
    border-radius: 50%;
    color:#764d24;
    padding: 5px;
    cursor: pointer;
    font-family: MomoSignature;
    font-size: large;
    object-fit: cover;
    transition:0.3s ease;
    margin-right:70px;
    margin-bottom:6px;
}
.edit_profile_button{
    background-color: #764d24;
    color:#d8d3ba;
    border:none;
    padding:8px 15px;
    border-radius: 6px;
    font-family: MomoSignature;
    font-size: large;
    cursor: pointer;
    transition:0.3s ease;
}
.edit-profile:hover{
    background-color: #d8d3ba;
    color:#764d24;
    border:2px solid #764d24;
}
.card_upcoming_driver{
    display: flex;
    flex-direction: column;
    background-color: #d8d3ba;
    color:#764d24;
    font-family: MomoSignature;
    font-size: large;
    border-radius: 12px;
    transition: position 0.3s ease;
    left:12px;
    top:12px;
    bottom:12px;
    box-shadow:4px 0px 15px rgba(0,0,0,0.15);
    width:400px;
}
.upcoming_drivers_container{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid #ccc
}

.card_upcoming_driver p{
    font-size:16px;
    margin-top:12px;
    margin-left:20px;
}
.card_upcoming_driver button{
     background-color: #ae8257;
    color:#d8d3ba;
    border:2px solid #9d6d3d;
    padding:2px 6px;
    border-radius: 8px;
    font-family: MomoSignature;
    font-size: medium;
    cursor: pointer;
    transition:0.3s ease;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    width:40%;
    margin-left:100px;
}
.card_upcoming_driver button:hover{
    background-color: #ae8257;
    transform:translateY(-3px);
}
.card_upcoming_driver button:active{
    transform: scale(0.96);
}
.search_bar{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom:10px;
}
.search_bar input{
    padding: 8px 12px;
    background-color: #d8d3ba;
    color:#764d24;
    border:2px solid #764d24;
    border-radius:10px;
    font-family: MomoSignature;
    cursor:pointer;
    width: 60%;
    height:4vh;
}

.filter select{
    padding: 4px 6px;
    background-color: #d8d3ba;
    color:#764d24;
    border:2px solid #764d24;
    border-radius:10px;
    font-family: MomoSignature;
    cursor:pointer;
}